.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.item1 {
  order: 2;
  width: 200px;
  padding: 15px;
}

.item2 {
  order: 1;
  width: 200px;
  padding: 15px;
}

.item3 {
  order: 3;
  width: 200px;
  padding: 15px;
}