.container {
  display: flex;
  flex-direction: row;
}

.item1 {
  flex-basis: 100px;
  padding: 15px;
}

.item2 {
  flex-basis: 100px;
  padding: 15px;
}

.item3 {
  flex-basis: 200px;
  padding: 15px;
}