.container {
  display: flex;
  flex-direction: row;
}

.item1 {
  align-self: center;
  height: 150px;
  padding: 15px;
}

.item2 {
  align-self: center;
  height: 100px;
  padding: 15px;
}

.item3 {
  align-self: center;
  height: 200px;
  padding: 15px;
}