._bg-red {
  background-color: #D91E18;
}

._bg-green {
  background-color: #00B16A;
}

._bg-blue {
  background-color: #446CB3;
}

._bg-yellow {
  background-color: #F9BF3B;
}

._bg-purple {
  background-color: #8e44ad;
}

._bg-grey {
  background-color: #95a5a6;
}